extends layout
block content
	div.container
		center
			h1 Login here
		if(errors)
			h2.error Ooops an error occured!
			ul.error
				each error in errors
					li= error.message
		div.row
			form.col-md-6.col-md-offset-3(action="/login", method="post")
				p
					label.col-md-4(for='email') E-mail
					input.col-md-8(id='email', name='email', type='text')
				div.row
					p.col-md-4
						input(class='btn btn-success', type='submit', value='Login')
					p.col-md-8
						a(class='btn btn-primary', href='/newUser') Create your account
