extends layout
block content
	div.container
		center
			h3
				strong All users 
				a(href="logout") LogOut Here
		div.row
			div.col-md-2
			div.col-md-8
				each val in [1, 2, 3, 4, 5]
					p Sender name: Message by Sender
					p Receiver name: Message by Receiver
				div.row
					form(action="#", method="post")
						div.col-md-9
							input(id='message', name='message', type='text')
							input(id='user', name='user', type='hidden')
						div.col-md-3
							input(class='btn btn-success', type='submit', value='Send')